<form [formGroup]="registerAddForm">
    <div class="mb-3">

      <label for="exampleInputEmail1" class="form-label">Email address</label>

      <input type="email" class="form-control" id="exampleInputEmail1"
      formControlName="email"
      aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

    </div>

    <div class="mb-3">

      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" 
      id="exampleInputPassword1"
      formControlName="password">

    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Name</label>
        <input type="name" class="form-control"
         id="name"
         formControlName="name"
         >
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Last Name</label>
        <input type="name" class="form-control" 
        id="lastName"
        formControlName="lastName"

        >
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="add() " routerLink="login" >Submit</button>
  </form>